html{
    font-family: Verdana;
    color: #74AEFF;
}

body{
    margin-top: 70px;
    margin-left: 10px;
    background-color: #1D2B40;
    color: #74AEFF;
}

body.text_center{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

ul {
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #395780;
}

li {
    float: left;
    padding : 5px 5px 5px 10px;
}

li a {
    display: table;
    color: #74AEFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    box-sizing: border-box;
    border: #74AEFF solid 2px;
    border-radius: 500px;
    height: 50%;
    font-size: medium;
    box-shadow: 3px 3px 2px #1D2B40; ;
}

li a:hover {
    background-color: #74AEFF;
    color: #395780;

}
li a:active{
    box-shadow: 0px 0px #1D2B40;
}

h1{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

h2{
    text-align: center;
    font-size: large;
    padding-top: 50px;
    padding-bottom: 50px;
}

td , th{
    font-family: Verdana;
    color: #74AEFF;
    font-size: small;
}

div.connexion{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

form.shadow{
    font-family: Verdana;
    color: #74AEFF;
    background-color: #395780;
    border-radius: 30px;
    padding : 10px 15px 25px 15px;
    min-width: 350px;
}

form.shadow2{
    font-family: Verdana;
    color: #74AEFF;
    background-color: #395780;
    border-radius: 30px;
    padding : 10px 15px 25px 15px;
    min-width: 350px;
    text-align: center;
}

div.shadow3{
    font-family: Verdana;
    color: #74AEFF;
    margin-left: 8px;
    margin-right: 8px;
    border: #74AEFF solid 2px;
    border-radius: 30px;
    padding : 10px 15px 25px 15px;
    min-width: 350px;
    text-align: center;
}

textarea.input2{
    font-family: Verdana;
    color: #74AEFF;
    border: #74AEFF solid 2px;
    border-radius: 30px;
    padding : 5px 0px 5px 10px;
    min-width: 350px;
}

input.form-control{
    font-family: Verdana;
    color: #74AEFF;
    box-sizing: border-box;
    border: #74AEFF solid 4px;
    border-radius: 500px;
    background-color: #395780;
    margin-top: 5px;
    caret-color: #74AEFF;
}

input.form-control select{
    font-family: Verdana;
    color: #74AEFF;
    box-sizing: border-box;
    border: #74AEFF solid 4px;
    border-radius: 500px;
    background-color: #395780;
    margin-top: 5px;
    caret-color: #74AEFF;
}

div.form-group2{
    display: flex;
    justify-content: center;
}

button.btn_btn-primary_m-2{
    margin-top: 50px;
    width:100%;
    font-family: Verdana;
    color: #395780;
    border: solid 4px;
    border-radius: 500px;
    background-color: #74AEFF;
    padding-bottom: 10px;
    padding-top: 10px;
}

button.btn_btn-secondary_m-2{
    margin-top: 50px;
    width:60%;
    font-family: Verdana;
    color: #395780;
    border: solid 4px;
    border-radius: 500px;
    background-color: #74AEFF;
    padding-bottom: 10px;
    padding-top: 10px;
}

button.btn_btn-ter_m-2{
    margin-top: 10px;
    width:200px;
    font-family: Verdana;
    border: #74AEFF solid 4px;
    border-radius: 500px;
    background-color: #74AEFF;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #395780;
}


/* ------------------------   SEARCH HOUSE ------------------------ */

.wrapper{
    width: 350px;
    height: 350px;
    font-family: Verdana;
    border: #74AEFF solid 4px;
    border-radius: 20px;
    padding: 20px;
    float: left;
    margin : 15px;
    position: relative;

}

div.wrapper::selection{
    background-color: #74AEFF;
}

a {
    color: #74AEFF;
    text-align: center;
    font-size: small;
    text-decoration: none;
}

a.titre_maison{
    text-transform: uppercase;
    font-weight: bold;
}

a.description_maison{
    font-size: x-small;
    margin-bottom: 30px;
}

a.titre_maison:hover {
    color: #74AEFF;
}
a.description_maison:hover {
    color: #74AEFF;
}

a.btn_btn-primary_m-2{
    width:100%;
    font-family: Verdana;
    color: #395780;
    border: #74AEFF solid 4px;
    border-radius: 500px;
    background-color: #74AEFF;
    padding : 3px;
}


/* ------------------------   VIEW HOUSE ------------------------ */

a.titre_maison2{
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
}

a.description_maison2{
    font-size: medium;
    margin-bottom: 30px;
}

a.titre_maison2:hover {
    color: #74AEFF;
}
a.description_maison2:hover {
    color: #74AEFF;
}

div.wrapper2{
    display: grid;
    margin :70px;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
}

div.house_photos{
    width:100%;
    font-family: Verdana;
    color: #74AEFF;
    border: #395780 solid 4px;
    border-radius: 20px;
    background-color: #395780;
    padding : 20px;
}

/* ------------------------  ADMIN  ------------------------ */

select.selectAdmin{
    display: table;
    color: #74AEFF;
    background-color: #395780;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    box-sizing: border-box;
    border: #74AEFF solid 2px;
    height: 50%;
    font-size: medium;
}

button.buttonAdmin{
    display: table;
    color: #74AEFF;
    background-color: #395780;
    text-align: center;
    padding: 1px 5px;
    text-decoration: none;
    float: left;
    box-sizing: border-box;
    border: #74AEFF solid 2px;
    border-radius: 5px;
    height: 50%;
    font-size: medium;
    box-shadow: 2px 2px 1px darkslategrey;
}

button.buttonAdmin:active{
    box-shadow: 0px 0px darkslategrey;
}


/* ------------------------  ADMIN  ------------------------ */

button.buttonReserve{
    display: table;
    color: #74AEFF;
    background-color: #395780;
    text-align: center;
    padding: 1px 5px;
    text-decoration: none;
    float: left;
    box-sizing: border-box;
    border: #74AEFF solid 2px;
    border-radius: 5px;
    height: 50%;
    font-size: medium;
    box-shadow: 2px 2px 1px dimgrey;
}

input.inputReserve{
    color: #395780;
    background-color: #395780;
    text-align: center;
    border: #1D2B40 solid 2px;
}


/* ------------------------   NEW HOUSE ------------------------ */

form.gridNewhouse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

div.div1 {
    grid-column: 1 / 2;
    grid-row: 1;
}

div.div2 {
    grid-column: 2 / 2;
    grid-row: 1;
}

input.input2{
    font-family: Verdana;
    color: #74AEFF;
    border: #74AEFF solid 2px;
    border-radius: 30px;
    padding : 5px 0px 5px 10px;
    min-width: 350px;
    margin-bottom: 5px;
}